doctype html
html
  head
    title Reese Anson Wilson
    link(href='/css/markdown.css', rel='stylesheet')
    link(rel="icon", type="image/png", sizes="32x32", href="/img/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="96x96", href="/img/favicon-96x96.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/img/favicon-16x16.png")
  body
    #heading
      name#name(onclick="window.location = '/'") Reese Anson Wilson
      hide-mail#hideMail(title="Please don't add my email address to any lists")
    div.content
      :markdown
        !{markdown}
    <a id="back" href="javascript:history.back()">Go Back</a>
  script.
    if (window.location.pathname === "/") {
      document.getElementById("back").style.visibility="hidden";
    }
    // populate email address in a (hopefull) bot-unfriendly way
    var a = ["&#64;&#110;&#115;&#111;&#110;", "&#114;&#101;&#101;&#115;&#101;", "&#99;&#111;&#109;", "&#119;&#105;&#108;&#115;&#111;&#110;&#46;"];
    var b = a[1] + a[0] + a[3] + a[2];
    document.getElementById("hideMail").innerHTML = b;

